<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Linko</title>
    <style>
      #img{
        height: 30%;
        width: 80%;
        background-size:cover;
        margin-left:auto;
        margin-right: auto;
      }
      body{
        background-color:rgba(0,0,0,0.8);
        color:white;
        font-family:poppins,sans-serif;
      }
      header > h1,header >p{
        padding:0;
        text-align:center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Linko</h1>
      <p>We are a website designing and developing company.</p>
    </header>
    <div id="img">
    <img src="https://images.unsplash.com/photo-1676370752810-b1bfe1843ddb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"></div>
    <h3>About Us</h3>
    <p>We are a company that develops new ways to play games by combining crowd-sourced data with ease of use. Our main product is an app that you can use on the go and implements our groundbreaking technology. Our target audience is men. We want to convey a sense of mystery, while at the same time being kind.</p>
  </body>
</html>